@property --num {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

.odometer {
  transition: --num 0.5s;
  counter-reset: num var(--num);
}

.odometer::before {
  content: counter(num);
}
